/**** begin animation style ****/
.round{
	-webkit-animation-name:round;
	animation-name:round;
	-webkit-animation-duration:2.5s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	animation-iteration-count:infinite;
}

@-webkit-keyframes round{
	0%{
		-webkit-transform:scale3d(1,1,1);
		transform:scale3d(1,1,1)}
	10%,20%{
		-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
		transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)}
	30%,50%,70%,90%{
		-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
		transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)}
	40%,60%,80%{
		-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
		transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)}
	100%{
		-webkit-transform:scale3d(1,1,1);
		transform:scale3d(1,1,1)}
}
@keyframes round {
	0%{
		-webkit-transform:scale3d(1,1,1);
		transform:scale3d(1,1,1)}
	10%,20%{
		-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
		transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)}
	30%,50%,70%,90%{
		-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
		transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)}
	40%,60%,80%{
		-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
		transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)}
	100%{
		-webkit-transform:scale3d(1,1,1);
		transform:scale3d(1,1,1)}
}

@keyframes progress-bar {
	0% {
		background-position: 1rem 0;
	}
	100% {
		background-position: 0 0;
	}
}

@keyframes bounce {
    0% {
        transform: translateY(-3px);
    }

    50% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0);
    }
} 
@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@keyframes blingBling {
    0% {background: linear-gradient(180deg, rgba(226,0,255,1) 0%, rgba(0,159,159,1) 100%)}
    50% {background: white}
    100% {background: linear-gradient(180deg, rgba(226,0,255,1) 0%, rgba(0,159,159,1) 100%);}
}

@keyframes  marquee {
    0% { left: 0; }
    100% { left: -450%; }
}

@media (min-width: 993px) {
	@keyframes  marquee {
		0% { left: 0; }
		100% { left: -100%; }
	}
}
/**** endof animation style ****/
