/**** begin layout style ****/
*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
    line-height: 1.15;
    font-weight: 600;
}
p {
    font-size: 14px;
    font-weight: 300;
}

.container {
    --padding-inline: 1.5rem;
    --content-max-width: 1140px;

    position: relative;
    display: grid;
    grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr) 
    [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] 
    minmax(var(--padding-inline), 1fr) [full-width-end];
}
.container > :not(.full-width) {
    grid-column: content;
}
.container > .full-width {
    grid-column: full-width;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.row.justify-content-start {
    justify-content: start;
}
.row.align-items-center {
    align-items: center;
}
.row.row-block {
    gap: 0;
}
.row > .col {
    flex: 1 1 auto;
}
.row.row-2 > .col {
    flex: 1 1 50%;
}
.row.gap-0 {
    gap: 0px;
}
.row.gap-10 {
    gap: 10px;
}

.m-0 {
    margin: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-05 {
    margin-bottom: 0.35rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2.25rem;
}
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-2 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-normal {
    text-decoration: none;
}
.text-uppercase {
    text-transform: uppercase;
}

header.container {
    position: sticky;
    top: 0;
    z-index: 999;
}

hr {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--color-4);
}
/**** endof layout style ****/